{% extends 'layout.html' %}

{% block body  %}


<div class="jumbotron text-center">
<h3>Welcome to Commertical Panel</h3>  
</div>
          
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Average Playing Time Per Session</th>
                <th scope="col">Total Playing Time</th>
                <th scope="col">Total Steps  </th>
                <th scope="col">Total Walking Distance </th>
                <th scope="col">Total Running Distance </th>
                <th scope="col">Total Calories Burned </th>
              </tr>
            </thead>
          {% for content in contents %}  
            <tbody>
              <tr> 
                <th ><a href="/contents/commercialpanel/{{content.user_id}}">{{content.user}}</a> </th>
                <td><script>
                    document.write({{content.playing_time}}/{{content.session_count}} );
                </script> minute/session</td>
                <td>{{content.playing_time}} minute</td>
                <td>{{content.total_step}} steps</td>
                <td>{{content.total_walk}} steps</td>
                <td>{{content.total_run}} steps</td>
                <td>{{content.total_calori}} cal</td>
              </tr>
            
              
          <!--table class="table table-striped table-sm table-bordered"-->
            {% endfor %}
        </tbody>
    </table>
        <hr>
        <a class= "btn btn-danger" href="/contents/addtogroup">Gruba User Ekle</a>
        <hr> 
        <a class= "btn btn-danger" href="/contents/removefromgroup">Gruptan User Çıkar</a>
        <hr>
      </div>
    

{% endblock body %}